.iconoNav{
    width: 60px;
    height: 60px;
}

.iconoHover:hover{
    fill: #F59E0B;
}

.logoRoute{
    max-width: 70px;
    max-height: 70px;
}

.logo{
    width: 100%;
}

.pageTitle{
    margin-top: 5px;
    max-width: 250px;
}

.title{
    width: 100%;
    margin-right: 10px;
    font-size: 25px;
    
}

.desplegableIdiomas{
    margin-top: 10px;
}