.contenedorHOME {
    margin: auto;
    max-width: 1140px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

/* Estilos para el círculo detrás de las flechas */
.carousel-control-prev::before,
.carousel-control-next::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    top: calc(50% - 20px);
    left: calc(50% - 0px);
    z-index: -1;
    transform: translateX(-50%);
}

.BotonCarrouselContainer {
    position: absolute;
    bottom: 10px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Ajusta según sea necesario */
}

.BotonCarrousel {
    width: 212px; /* Ajusta el ancho para dispositivos más pequeños */
    height: 45px;
    border-radius: 10px;
    background-color: #F59E0B;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}


.BotonCarrousel:hover {
    background-color: #b4760a;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 2;
}

@media (max-width: 768px) {
    .BotonCarrousel {
        width: 150px; 
        font-size: 16px; 
        position: relative; 
        left: 50%; /* Coloca el botón en la mitad del carrusel */
        transform: translateX(-50%); /* Centra el botón horizontalmente */
    }

    .BotonCarrousel:hover {
        background-color: #b4760a;
    }

    .BotonCarrouselContainer {
        width: 100%; /* Ajusta al 100% en dispositivos más pequeños */
        bottom: 10px; /* Ajusta según sea necesario */
    }
    .button-wrapper {
        margin-bottom: 20px;
    }
}




.marginsDelCarrousel {
    margin-top: 55px;
    margin-bottom: 80px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: auto;
}

.button-wrapper {
    text-align: center;
}

.button {
    position: relative;
    display: inline-block;
}

.button img {
    width: 290px;
    height: 290px;
    border-radius: 40px;
}

.button-text {
    text-align: center;
}

.button-text span {
    display: block;
}

.primeraLinea {
    font-weight: bold;
    font-size: 24px;
}

.segundaLinea {
    margin-top: 5px;
    font-size: 24px;
}

.marginCuadradoPulsables {
    margin-bottom: 50px;
}

.button-wrapper:hover .button img {
    filter: brightness(80%); /* Reducir el brillo al 80% cuando se pasa el ratón por encima */
}

.containerLetras {
    max-width: 560px;
    margin: auto;
    text-align: center;
}

.containerLetras span {
    display: block;
}

.LetrasAzules {
    color: #0A62F5;
    font-size: 70px;
    font-family: WindSong;
}

.SegundoTexto {
    font-weight: bold;
    font-size: 20px;
}

.TercerTexto {
    font-size: 12px;
}

.containerRecetasAbuela {
    align-items: center;
}

.recetasAbuela {
    max-width: 280px;
    height: 700px;
}

.imagenAbuela {
    width: 100%;
    height: 500px;
    background-image: url('../images/awelarecetaSINAWELA.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imagenAbuela:hover {
    width: 100%;
    height: 720px;
    background-image: url('../images/awelareceta.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.imgReceta {
    display: block;
    width: 100%;
    height: auto;
}

.imagenAbuelaTexto {
    margin-top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}

.imagenAbuela:hover .imagenAbuelaTexto {
    margin-top: 140px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}