.contenedorHOME {
    margin: auto;
    max-width: 1140px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    /* Cambiar el color de las flechas a negro */
}

/* Estilos para el círculo detrás de las flechas */
.carousel-control-prev::before,
.carousel-control-next::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    top: calc(50% - 20px);
    left: calc(50% - 0px);
    z-index: -1;
    transform: translateX(-50%);
}

/* Estilos adicionales para mantener la apariencia original */


.carousel-control-prev,
.carousel-control-next {
    z-index: 2;
    /* Asegura que las flechas de control estén encima del carrusel */
}

@media (max-width: 768px) {
    .BotonCarrousel {
        width: 100%;
        /* Ajusta el ancho del botón del carrusel en dispositivos pequeños */
        margin-top: 10px;
        /* Ajusta el margen superior del botón del carrusel en dispositivos pequeños */
    }

    .button-wrapper {
        margin-bottom: 20px;
        /* Ajusta el margen inferior de los botones en dispositivos pequeños */
    }
}

.BotonCarrousel {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 212px;
    height: 45px;
    border-radius: 10px;
    background-color: #F59E0B;
    border: none;
    color: white;
    font-size: 20px;
}

.BotonCarrousel:hover {
    background-color: #b4760a;
}


.marginsDelCarrousel {
    margin-top: 55px;
    margin-bottom: 80px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: auto;
}

.button-wrapper {
    text-align: center;
}

.button {
    position: relative;
    display: inline-block;
}

.button img {
    width: 290px;
    height: 290px;
    border-radius: 40px;
}

.button-text {
    text-align: center;

}

.button-text span {
    display: block;

}

.primeraLinea {
    font-weight: bold;
    font-size: 24px;
}

.segundaLinea {
    margin-top: 5px;
    font-size: 24px;
}

.marginCuadradoPulsables {
    margin-bottom: 50px;
}

.containerLetras {
    max-width: 560px;
    margin: auto;
    text-align: center;
}
.containerLetras span{
    display: block;
}

.LetrasAzules {
    color: #0A62F5;
    font-size: 70px;
    font-family: WindSong;
}

.SegundoTexto{
    font-weight: bold;
    font-size: 20px;
}

.TercerTexto{
    font-size: 12px;
}



.containerRecetasAbuela{
    align-items: center;
}

.recetasAbuela{
    max-width: 280px;
    height: 700px;
}


.imagenAbuela {
    width: 100%; /* Ancho del contenedor */
    height: 500px;
    background-image: url('../images/awelarecetaSINAWELA.png');
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex; /* Para alinear el contenido verticalmente */
    justify-content: center; /* Para alinear el contenido horizontalmente */
    align-items: center; /* Para alinear el contenido verticalmente */
}

.imagenAbuela:hover{
    width: 100%; /* Ancho del contenedor */
    height: 720px;
    background-image: url('../images/awelareceta.png');
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex; /* Para alinear el contenido verticalmente */
    justify-content: center; /* Para alinear el contenido horizontalmente */
    align-items: center; /* Para alinear el contenido verticalmente */
}


.imagenAbuelaTexto {
    width: 100%; /* Ancho del contenedor */
    height: 720px;
    display: flex; /* Para alinear el contenido verticalmente */
    justify-content: center; /* Para alinear el contenido horizontalmente */
    align-items: center; /* Para alinear el contenido verticalmente */
}