* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}


//Boton del corazon 
.con-like {
    --red: rgb(255, 50, 50);
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  
  .con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .con-like .outline,
  .con-like .filled {
    fill: var(--red);
    position: absolute;
  }
  
  .con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
  }
  
  .con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
  }
  
  .con-like .poly {
    stroke: var(--red);
    fill: var(--red);
  }
  
  .con-like .like:checked ~ .checkmark .filled {
    display: block
  }
  
  .con-like .like:checked ~ .checkmark .celebrate {
    display: block
  }
  
  @keyframes kfr-filled {
    0% {
      opacity: 0;
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  
  @keyframes kfr-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 0.8;
    }
  
    100% {
      transform: scale(1.2);
      opacity: 0;
      display: none;
    }
  }

  //Diseño boton de añadir al plan semanal
  .icon-link {
    display: inline-block;
    padding: 5px; /* Ajusta el padding según sea necesario */
    transition: background-color 0.3s, color 0.3s;
}

.circle {
    stroke: #F59E0B; /* Color inicial del círculo */
    stroke-width: 1.5;
}

.cross {
    stroke: #F59E0B; /* Color inicial de las líneas */
    stroke-width: 1.5;
    stroke-linecap: round;
}

/* Estilos al pasar el ratón por encima */
.icon-link:hover .circle {
    stroke: #FFC107; /* Cambia el color del círculo */
}

.icon-link:hover .cross {
    stroke: #FFC107; /* Cambia el color de las líneas */
}


  //Diseño tabla plan semanal
  table{
    text-align: center;
  }
  tr{
  border-bottom: 1px solid black;
}
.separador{
  border-right: 1px solid black;
}
.espacio{
  max-width: 10px;
}

//Diseño boton ver recetas
  
  
