//ARCHIVO DE DISEÑO GENERAL DE LA WEB

* {
  box-sizing: border-box;
}


//Contenedores
.contenedorGeneral {
  max-width: 1440px;
  margin: auto;
  margin-top: 0px !important;
}

.contenedorAdmins {
  width: 100%;
  margin: auto;
  margin-top: 0px !important;
}

html {
  height: 100%;
  font-size: $scale;
}

.colorFondo {
  background-color: #F9F9F9;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}

//Color de los botones de todas las paginas de la web

.colorBoton {
  background-color: #422329;
  color: white;
  border-radius: 0px;
  min-width: 150px;
}

.colorBoton:hover {
  background-color: #d78c0a;
  color: white;
}

.btn-warning {
  border-radius: 0;
}

.btn-danger {
  border-radius: 0;
}

// Boton para las alertas
.colorBoton2 {
  background-color: #422329;
  color: white;
  border-radius: 0px;
  margin-right: 4px;
}
.colorBoton2:hover {
background-color: #d78c0a;
color: white;
}

//Color shadow-box de los filtros e inputs
.form-control:focus {
  box-shadow: 0 0 10px #422329;
  border-color: #422329;
}


//Diseño boton de añadir al plan semanal
.icon-link {
  display: inline-block;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.circle {
  stroke: #DDCAD0;
  stroke-width: 1.5;
}

.cross {
  stroke: #DDCAD0;
  stroke-width: 1.5;
  stroke-linecap: round;
}


.icon-link:hover .circle {
  stroke: #F59E0B;
}

.icon-link:hover .cross {
  stroke: #F59E0B;
}


//Clase panel de control 

.borderCardPanel {
  border: 3px solid #422329;
  border-radius: 0 !important;
}