//ARCHIVO DISEÑO PARA EL PLAN SEMANAL

/* Estilos para la tarjeta de cada día */
.card {
    border: 2px solid #422329;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #DDCAD0;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.card-body {
    padding: 10px;
}

/* Estilos para los círculos de los iconos */
.icon-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombreReceta {
    font-size: 16px;
}

.nombreDia {
    font-size: 30px;
}

.nombreMomento {
    font-size: 22px;
}

//Icono OJO para ver los detalles de la receta desde el plan semanal

.icon-eye {
    stroke: #422329;
}

.icon-eye:hover {
    stroke: #d78c0a;
    cursor: pointer;
}

.delete-icon {
    stroke: #422329;
}

.delete-icon:hover {
    stroke: #d78c0a;
    cursor: pointer;
}