//Borde de las Cards
.cardBorderIMG {
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoCard {
  position: relative;
  /* Añadir posición relativa para que la posición absoluta sea relativa a este contenedor */
  max-width: 365px;
  height: 393px;
  overflow: hidden;
  /* Oculta el desbordamiento de las imágenes */
  border: 4px solid #422329;
  z-index: 1;
  background-color: white;
}

.cardImageDIV {
  padding-right: 1px;
  width: 365px;
  height: 240px;
}

.oval {
  position: absolute;
  /* Ajustar la posición absoluta */
  width: 400px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #D7C8CD;
  margin-top: 385px;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

}


.cuerpoCarta {
  margin-top: 5px;
}

.tituloCard {
  font-size: 24px;
  font-weight: bold;
  height: 60px;
}


.texto {
  width: 300px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  color: grey;
}

/* Estilos de la pagina detalles de las recetas */

// Eliminar borde al text editor component
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  border: 0 !important;
}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners{
  border: 0 !important;
}
.padding{
  width: 80% !important;
}

//Codigo diseño boton like

.mi-con-like {
  --mi-red: rgb(255, 50, 50);
  --mi-default-background: #DDCAD0;
  --mi-default-border: #DDCAD0;
  position: relative;
  width: 25px;
  height: 25px;
}

.mi-con-like .mi-like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.mi-con-like .mi-checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mi-con-like .mi-outline,
.mi-con-like .mi-filled {
  fill: white;
  stroke: var(--mi-default-border);
  position: absolute;
}

.mi-con-like .mi-filled {
  animation: mi-kfr-filled 0.5s;
  display: none;
}

.mi-con-like .mi-celebrate {
  position: absolute;
  animation: mi-kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.mi-con-like .mi-poly {
  stroke: var(--mi-default-border);
  fill: var(--mi-default-background);
}

.mi-con-like .mi-like:checked~.mi-checkmark .mi-filled {
  display: block;
  fill: var(--mi-red);
  stroke: var(--mi-red);
}

.mi-con-like .mi-like:checked~.mi-checkmark .mi-poly {
  fill: var(--mi-red);

  stroke: var(--mi-red);
}


@keyframes mi-kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes mi-kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}