// Fonts
@font-face {
    font-family: Montserrat;
    src: url('../../public/fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: GreatVibes;
    src: url('../../public/fonts/GreatVibes-Regular.ttf');
}



// Variables
//@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'styles';


html {
    font-size: 14px;
}

body {
    background-color: #F9F9F9 !important;
    font-family: Montserrat;
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}


p {
    line-height: 1.75;
}
ol{
    margin: 0px;
    padding-left: 0rem;
}